<!DOCTYPE html>
<html>
  <head>
    <title>Example Project</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag asset_path('app.css', 'css'), media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag asset_path('app.vendor.js', 'js') %>
    <%= javascript_include_tag asset_path('app.js', 'js') %>
  </body>
</html>
